Model Training
1.1 Import Data and Required Packages
Importing Pandas, Numpy, Matplotlib, Seaborn and Warnings Library

In [17]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
#from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

Importing the CSV Data as Pandas DataFrame

In [20]:
df=pd.read_csv('C:/Users/user/ML_Projects/notebook/data/stud.csv')

In [21]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

Adding the Average Score

In [22]:
df['average_score'] = (df.math_score + df.reading_score + df.writing_score)/3

In [23]:
df.head(2)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,average_score
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667
1,female,group C,some college,standard,completed,69,90,88,82.333333

Preparing X and Y variables

In [24]:
X = df.drop(columns=['average_score'], axis=1)

In [25]:
X.head(2)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88

In [26]:
y = df['average_score']

In [28]:
y

0      72.666667
1      82.333333
2      92.666667
3      49.333333
4      76.333333
         ...
995    94.000000
996    57.333333
997    65.000000
998    74.333333
999    83.000000
Name: average_score, Length: 1000, dtype: float64

In [29]:
# Create Columns Tranformer with 3 different types of transformers
num_features = X.select_dtypes(exclude='object').columns
cat_features = X.select_dtypes(include='object').columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ('OneHotEncoder', oh_transformer, cat_features),
        ('StandardScaler', numeric_transformer, num_features)
    ]
)

In [30]:
X = preprocessor.fit_transform(X)

In [31]:
X.shape

(1000, 20)

In [32]:
# Separating dataset into train and test

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

X_train.shape, X_test.shape

((800, 20), (200, 20))

In [34]:
y_train.shape, y_test.shape

((800,), (200,))

Create an Evaluate Function to give all metrics after model Training

In [38]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae,rmse, r2_square

In [ ]:
models = {
    'Linear regression': LinearRegression(),
    'Lasso': Lasso(),
    'Ridge': Ridge(),
    'K-Neighbor Regressor': KNeighborsRegressor(),
    'Decision Tree': DecisionTreeRegressor(),
    'Random Forest Regressor': RandomForestRegressor(),
    'XGB Regressor': XGBRegressor(),
    #'CatBoosting regressor': CatBoostRegressor(verbose=False)
    'AdaBoost Regressor': AdaBoostRegressor()
}
model_list = []
r2_list = []

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train models

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Evaluate Train and Test dataset
    model_train_mae, model_train_rmse, model_train_r2 = evaluate_model(y_train,y_train_pred)

    model_test_mae, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)


    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model performance for Training set')
    print('- Root mean Square Error: {:.4f}'.format(model_train_rmse))
    print('- Mean Absolute Error: {:.4f}'.format(model_train_mae))
    print('- R2Score: {:.4f}'.format(model_train_r2))

Linear regression
Model performance for Training set
- Root mean Square Error: 0.0000
- Mean Absolute Error: 0.0000
- R2Score: 1.0000
Lasso
Model performance for Training set
- Root mean Square Error: 1.0645
- Mean Absolute Error: 0.8506
- R2Score: 0.9943
Ridge
Model performance for Training set
- Root mean Square Error: 0.0080
- Mean Absolute Error: 0.0065
- R2Score: 1.0000
K-Neighbor Regressor
Model performance for Training set
- Root mean Square Error: 2.2573
- Mean Absolute Error: 1.7680
- R2Score: 0.9745
Decision Tree
Model performance for Training set
- Root mean Square Error: 0.0000
- Mean Absolute Error: 0.0000
- R2Score: 1.0000
Random Forest Regressor
Model performance for Training set
- Root mean Square Error: 0.2848
- Mean Absolute Error: 0.1811
- R2Score: 0.9996

AttributeError: 'str' object has no attribute 'fit'